:root {
  --main-bg-color: #181825;
  --post-bg-color: #551a0f;
  --text-color: #8ea138;
  --secondary-color: #30ac2250;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.post {
  background-color: var(--post-bg-color);
  margin-bottom: 10px;

  .widget,
  button {
    background-color: var(--secondary-color);
    margin: 10px;
  }
}
